#footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 25rem;
    padding: 0.5rem 0;
    background-color: #161616;
}

#footer-container h3 {
    color: white;
    font-size: 2.6rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

#footer-container a {
    display: block;
    font-size: 2rem;
    text-align: center;
    width: fit-content;
    margin: 0 auto 1rem auto;
    transition: all .2s ease-in-out;
}

#footer-container a:hover {
    font-size: 2.2rem;
}

p, form p {
    font-family: Garamond;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0.5rem;
    width: 100%;
}

input {
    width: 7rem;
    height: 2rem;
    margin: 1rem;
    font-size: 1.2rem;
    font-family: Garamond;
    font-weight: bold;
    background: linear-gradient(to left, #525DFF, 55%, #FF08B9);
    border: none;
    border-radius: 0.5rem;
    border: 2px solid black;
    outline: 1px solid white;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

textarea {
    width: -webkit-fill-available;
    margin: 0 10%;
    resize: none;
    font-size: 1rem;
    font-family: Garamond;
    font-weight: bold;
    border-radius: 0.2rem;
    padding: 5px;
}

/* unvisited link */
#footer-container a:link {
    color: #525DFF;
}
  
/* visited link */
#footer-container a:visited {
    color: #525DFF;
}
  
/* mouse over link */
#footer-container a:hover {
    color: #FF08B9;
}
  
/* selected link */
#footer-container a:active {
    color: #525DFF;
}

.col {
    height: 23rem;
    width: 100%;
}

#bars {
    border-right: 4px solid white;
    border-left: 4px solid white;
}

#social {
    width: 24.5rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#social img {
    width: 6rem;
    filter: invert(50%) sepia(59%) saturate(7471%) hue-rotate(227deg) brightness(100%) contrast(103%);
    transition: all .2s ease-in-out;
}

#social a {
    padding: 0.5rem;
}

#social img:hover {
    filter: invert(21%) sepia(55%) saturate(6751%) hue-rotate(305deg) brightness(101%) contrast(112%);
    transform: scale(1.1);
}

@media screen and (max-width: 1350px) {
    #footer-container {
        flex-wrap: wrap;
        height: 42rem;
    }

    #bars {
        border-right: none;
    }

    .col {
        height: 18rem;
        flex-basis: 45%;
    }

    #social {
        width: auto;
        flex-wrap: nowrap;
    }
}

@media screen and (max-width: 1100px) {
    .col {
        flex-basis: 100%;
    }

    #footer-container {
        height: 54rem;
    }

    #links {
        height: auto;
    }

    #bars {
        border-left: none;
    }
}

@media screen and (max-width: 700px) {
    #social img {
        width: 5rem;
    }
}