html, body {
    height: 100%;
    font-family: Garamond;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/*Background color*/
canvas {
    background: linear-gradient(to left, #525DFF, 55%, #FF08B9);
    width: 100%;
    padding: 0;
}

#main-content {
    display: flex;
}