html, body {
    height: 100%;
    font-family: Garamond;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

h2 {
    width: fit-content;
    height: fit-content;
    border-bottom: 2px solid #161616;
    margin: 1rem 0;
    padding: 0.2rem;
    font-size: 2.7rem;
}

/* Scrollbar */

body::-webkit-scrollbar {
    width: 0.75em;
    outline: 2px solid #161616;
    overflow-x: none;
}

body::-webkit-scrollbar-track {
    background: #161616;
  }
  
body::-webkit-scrollbar-thumb {
    background: #FF08B9;
    border-radius: .1em;
    transition: color .2s ease-in-out;
}

body::-webkit-scrollbar-thumb:hover {
    background: #cc0092;
}

/* Main background color */

canvas {
    background: linear-gradient(to left, #525DFF, 55%, #FF08B9);
    width: 100%;
    min-height: 57rem;
    margin-top: 7rem;
    padding: 0;
}

/* About Me */

#highlight-icon {
	position: absolute;
    left: 7%;
	width: 32rem;
	height: 32rem;
	background: #161616;
	-webkit-animation: sliderShape 5s linear infinite;
    animation: sliderShape 5s linear infinite;
    box-shadow: 5px 12px 4px rgba(0,0,0,.25);

}

@keyframes sliderShape{
  0%,100%{
  border-radius: 52% 58% 70% 50% / 60% 60% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 80% 66% 84% / 80% 79% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

#about-me-container {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 32rem;
}

#photo {
    transform: translate(15%,15%);
    width: 24rem;
    border-radius: 50%;
    border: 0.2rem solid transparent;
    box-shadow: 0 0 20px 5px #FF08B9;
}

.triangle-down, .triangle-up {
    position: relative;
    left: 90%;
    top: -27rem;
    width: 0;
    height: 0;
    -webkit-filter: drop-shadow(4px 12px 2px rgba(0,0,0,.25));
    filter: drop-shadow(4px 12px 2px rgba(0,0,0,.25));

}

#info {
    display: flex;
    width: 75%;
    height: 22rem;
    margin: 5rem 10% 5rem 15%;
    background: white;
    box-shadow: 5px 12px 4px rgba(0,0,0,.25);
    border-radius: 15% 0 0 0;
}

#spacer {
    width: 27rem;
    flex-shrink: 0;

}

#text {
    width: fit-content;
}

#text p {
    width: fit-content;
    padding: 0 2rem 0 0.2rem;
    font-size: 1.5rem;
    color: black;
    margin: 0;
    text-align: initial;
}

/* Decorations */

.triangle-up {
    border-top: 0 solid transparent;
    border-left: 4rem solid white;
    border-bottom: 11rem solid transparent;
}

.triangle-down {
    border-top: 0 solid transparent;
    border-left: 4rem solid white;
    border-top: 11rem solid transparent;
}

/* Dividers */

.divider-top {
    width: 100%;
    background: url('../img/wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 6.5rem;
    position: relative;
    top: -6.5rem;
}

.divider-bottom {
    width: 100%;
    background: url('../img/backwards-wave.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 6.5rem;
    position: relative;
    top: -6.65rem;
    filter: drop-shadow(1px 10px 2px rgba(0,0,0,.25));
}

#bar {
    height: 0;
}

.flip {
    transform: rotateY(180deg);
}

/* Skills */

#skills-container {
    display: flex;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(180deg, #d6d9ff 0%, #525dff 100%);
}

#skills h2 {
    border-bottom: 2px solid #161616;
    margin: 1rem auto;
    width: 25rem;
    text-align: center;
}

#skills p {
    font-size: 1.1rem;
    margin: .5rem 0;
    color: #161616;
}

#skills img {
    width: 7rem;
}

#skills {
    width: 80%;
    margin: 5% 10%;
    padding-bottom: 2rem;
    background-color: white;
    box-shadow: 5px 12px 4px rgba(0,0,0,.25)
}

.flex-wrap {
    display: flex;
    align-items: flex-start;
}

#hard-skills, #soft-skills {
    display: flex;
    border-right: 2px solid #161616;
    justify-content: center;
    flex-wrap: wrap;
}

.hard-element, .soft-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 33.333333%;
    margin: 1rem 0;
}

#soft-skills {
    border: none;
}

/* Projects */

#projects-container {
    display: flex;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(180deg, #525dff 0%, #FF08B9 100%);
}

#projects {
    width: 80%;
    margin: 5% 10%;
    padding-bottom: 2rem;
    background-color: white;
    box-shadow: 5px 12px 4px rgba(0,0,0,.25)
}

#projects h2 {
    border-bottom: 2px solid #161616;
    margin: 1rem auto;
    width: 25rem;
    text-align: center;
}

.project-item img {
    width: 14rem;
    margin: 1.5rem;
}

.project-item {
    display: flex;
    width: 80%;
    margin: .5rem 10%;
    border-bottom: 2px solid #161616;
}

#borderless {
    border: none;
}

.description, .details {
    display: flex;
    flex-direction: column;
    width: inherit;
}

.description h3, .description p, .details p {
    color: #161616;
}

.description h3 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.description p {
    font-size: 1.1rem;
}

.details {
    padding-top: 2rem;
    width: fit-content;
}

.details p {
    margin: 0;
}

.details img {
    border: none;
    width: 6rem;
    margin: 0;
}

@media screen and (max-width: 1550px) {
    #text p {
        font-size: 1.35rem;
    }
}

@media screen and (max-width: 1250px) {
    #text p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1100px) {
    
    #about-me-container {
        top: 15%;
    }

    #highlight-icon {
        position: unset;
        margin: 0 auto;
    }

    #spacer {
        width: 0;
    }

    #text {
        padding: 0 1rem 2rem 1rem;
    }

    #text h2 {
        margin: 1rem auto;
    }
    
    #text p {
        font-size: 1.2rem;
        padding: 0;
    }
    
    .triangle-up, .triangle-down {
        display: none;
    }

    #info {
        width: 80%;
        height: auto;
        border-radius: 0;
        margin: 1rem 10%
    }

    #about-me {
        top: 15%;
    }

    .hard-element, .soft-element {
        flex-basis: 43.333333%;
    }

    #skills-container {
        height: 60rem;
    }
}